.container1 {
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 5% 20%;
}
.first-cont {
  width: 25vw;
  margin-top: 0%;
}
.first-cont h1 {
  font-size: 65px;
  margin: 0;
}
.first-cont p {
  font-size: 20px;
}

.card {
  display: flex;
  flex-direction: column;
  border-radius: 5%;
  display: flex;
  background-color: #3b3b3b;
  border-radius: 5%;
  padding: 2%;
  height: 500px;
  gap: 10px;
}

.image {
  border-radius: 5%;

}
.intro {
  display: flex;
  gap: 10%;
  padding: 2%;
}
.img1 img {
  border-radius: 50%;
  width: 3vw;
  height: 5vh;
}
.name {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.start-btn {
  cursor: pointer;
  border-radius: 20px;
  background-color: #a259ff;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  width: 224px;
  height: 60px;
  gap: 5px;
  border: none;
  font-weight: 700;
  margin-top: 10px;
  transition-duration: 0.3s;
}


.start-btn:hover {
transform: scale(.95);}
.sales {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.total-sale{
    color: #817b7b;
}

#HeroCard{
  position: relative;
  /* animation: card 5s infinite; */

  -webkit-animation: rotateY 5s infinite linear;
  animation: rotateY 5s infinite linear;
  /* background-color: pink;
  transform: rotate3d(1, 2, -1, 0deg); */
}
/* @keyframes card {
    from {left: 0px;}
  to {left: 300px;}
  } */

  @-webkit-keyframes rotateY {
    to { -webkit-transform: rotateY(360deg); }
  }
  @keyframes rotateY {
    to { transform: rotateY(360deg); }
  }